<html lang='en'>
	<head>
		{{> meta}}
		<title>Photographic Landscapes - Shows</title>
	</head>
	<style>
		section { display: grid; grid-template-columns: 1fr 1fr; } img { width: 100%; }
	</style>
	<body>
		<h1>Shows</h1>

		{{> nav}}
		<section>
			{{#each events}}
				<div>
					<h2>{{this.title}}</h2>
					<i>{{this.startDate}} - {{this.endDate}}</i>
					{{{this.description}}}
					<img src='{{this.photo.file}}' alt='{{this.photo.description}}' />
				</div>
			{{/each}}
		</section>
	</body>
</html>
