<html lang='en'>
	<head>
		{{> pl-calendar}}
		{{> styles}}
		{{> meta}}
		<title>Photographic Landscapes - Shows</title>
	</head>
	<style>
		section {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
		img {
			width: 100%;
		}

		event-block {
			display: grid;
			grid-template-columns: 300px minmax(300px, 1fr) auto;
			gap: 1em;
			align-items: center;
		}

		calendar-block {
			display: flex;
			gap: 1em;
		}

		pl-calendar {
			border: solid black 2px;
    	border-radius: 5px;
		}


	</style>
	<body>
		{{> header}}
		{{> nav}}
		<section>
			{{#each events}}
				<event-block>
					<img src='{{this.photo.file}}' alt='{{this.photo.description}}' />
					<div>
						<h2>{{this.title}}</h2>
						<i>{{this.startDate}} - {{this.endDate}}</i>
						{{{this.description}}}
					</div>
					<calendar-block>
						{{#each this.calendars}}
							<pl-calendar month="{{this.month}}" year="{{this.year}}" start="{{this.start}}" end="{{this.end}}"></pl-calendar>
						{{/each}}
					</calendar-block>
				</event-block>
			{{/each}}
		</section>
	</body>
</html>
